body {
    background-color: bisque;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}


header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
}

nav ul {
    list-style:none;
    text-align: center;
    background-color: rgb(95, 183, 145);
}

nav li {
    
    display:inline-flex;
    flex-wrap: wrap;
    nav-down: auto;
    font-size: 25px;
    background-color: rgb(95, 183, 145);
    text-align:center;
    
}
 
a {
    display: flexbox;
    padding: 12px;
    text-align:center;
    color: white;
    text-decoration: none;
    width: 195px;
    
}

a:visited { 
    color: purple ;
    background-color: darkred;
    } 

a:hover {    
    background-color: rgb(125, 178, 134);
}

.first::first-letter {
    text-decoration:double;
    font-size:xx-large;
    line-height: 1;
}

article {
    flex: 1;
    background-color: rgba(190, 193, 195, 0.607);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    margin-left: 0rem;
    border-radius: 2%;
}

article > p {
    
    font-size: 1.4rem;
    text-align: center;
    color: rgb(138, 15, 126);   
}

article > img {
    display: flex;
    margin-left: 3rem;
    border-radius: 2%;
    border-color: black;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
 }

 article> img:hover {
    transform: scale(1.2);       
}

#intro{
    background-color: rgb(223, 169, 169);
    border-radius: 8%;
    padding-top: 0rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

}

#intro:hover {
    transform: scale(1.1);       
}

h2 {
    font-size: 1.6rem;
    text-align: center;
    color:rgb(95, 183, 145);
    
}
h2.intro {
    font-size: 2rem;
    color: rgb(15, 138, 122);   
    text-align: center;
    
}

#intro > p{
    font-size: small;
}


footer {
    display: flex;
}  

.logo{
    flex: 1;
    text-align: right;
    text-decoration-line:underline; 
    
}

